<!-- Begin Direction Details-->
<section id="direction-details" class="direction-details" style="width:100%;">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.directionDetailsImage }}'); background-position: top !important;">
            <h3>{{ site.directionDetailsTitle }}</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                {% assign animationDelay = 0 %}
                {% for card in site.directionDetailsCards %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                    <div class="card">
                        <h4>{{ card.title }}</h4>
                        <p><a href="{{ card.permalink }}" alt="{{card.text}}">{{ card.information }} ➡️</a></p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% endfor %}
                {% assign animationDelay = 0 %}
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details -->
