<section id="schedule" class="schedule">
    <div class="content-wrapper">
      <div class="col-lg-8 col-md-10 col-md-offset-1">
        <h4 style="text-align: left;">Key Dates</h4>
        <ul style="text-align: left;">
            <li>April 17: Abstract Submission Deadline</li>
            <li>April 17: Early Bird Deadline</li>
            <li>May 12: Acceptance Notifications</li>
            <li>June 5: LBLT/Late Poster Submission Deadline</li>
            <li>June 15: Advance Registration Deadline</li>
          <li>July 18-19: Training</li>
          <li>July 20-21: Meeting</li>
          <li>July 22-23: CoFest: Core</li>
          <li>July 24-25: CoFest: EnCore</li>
        </ul>
      </div>
    </div>
</section>
