<!-- Begin training Section -->
<section id="training">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <h4 style="text-align: left;">Please vote on the training topics you would like to see at BCC2020.</h4>
            <p style="text-align: left;">Training will be offered</p>
            <ul style="text-align: left;">
                <li>Saturday, July 18: Dedicated training day, with multiple sessions and concurrent tracks.  Has a separate registration.</li>
                <li>Sunday-Monday, July 19-21: There will be one training session with concurrent topics each day, during the first two days of the meeting.</li>
            </ul>
            <h4 style="text-align: left;">Nominated Topics</h4>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <h5 style="text-aligh: left;">Tools and Platforms</h5>
                <div class="card-deck">
                    {% for topic in site.data.training.trainingToolsAndPlatformsCards %}
                            <div class="card">
                                <h5 id="{{ topic.id }}">{{ topic.title }}</h5>
                                <p>{{ topic.information }}</p>
                                <p><strong>Prerequisites</strong></p>
                                <p>{{ topic.prereqs }}</p>
                                <p><strong>Duration</strong></p>
                                <p>{{ topic.duration }}</p>
                            </div>
                    {% endfor %}
                </div>
        
                <h5 style="text-aligh: left;">Domains</h5>
                <div class="card-deck">
                {% for topic in site.data.training.trainingDomainCards %}
                        <div class="card">
                            <h5 id="{{ topic.id }}">{{ topic.title }}</h5>
                            <p>{{ topic.information }}</p>
                            <p><strong>Prerequisites</strong></p>
                            <p>{{ topic.prereqs }}</p>
                            <p><strong>Duration</strong></p>
                            <p>{{ topic.duration }}</p>
                        </div>
                {% endfor %}
                </div>    
                    
                <h5 style="text-aligh: left;">Community</h5>
                <div class="card-deck">
                {% for topic in site.data.training.traningCommunityCards %}
                        <div class="card">
                            <h5 id="{{ topic.id }}">{{ topic.title }}</h5>
                            <p>{{ topic.information }}</p>
                            <p><strong>Prerquisites</strong></p>
                            <p>{{ topic.prereqs }}</p>
                            <p><strong>Duration</strong></p>
                            <p>{{ topic.duration }}</p>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Training Details -->
