<!-- Begin training Section -->
<section id="training">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1 text-left">
            <h4 style="text-align: left;">Training</h4>
            <p style="text-align: left;">Training is offered over two days: July 17-18 in the <a href='https://bcc2020.sched.com/venue/West'>West</a>, and July 18-19 in the <a href='https://bcc2020.sched.com/venue/East'>East</a>. Training covers a variety of topics, and is offered thoughout both days.  Each session is 2.5 hours long, and you register for each session individually.
          This is immediately before the BCC2020 meeting. Please see the <a href='https://bcc2020.sched.com/'>BCC2020 Schedule</a> for information about each training session. </p>
        </div>
    </div>
</section>
<!-- End Training Details -->
