---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {% if page.permalink != '/' %}
                  {% include top-section.html %}
                {% endif %}
                <div class="col-lg-8 col-lg-offset-1  col-md-offset-1">
                {{ content }}
                </div>
                {% include footer.html %}

            </div>
        </div>
    </div>

    {% include analytics.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"><\/script>')
    }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/' or page.permalink == '/hackathon/' %}
    <script>
        if ($(window).width() > 767) {
            document.write('<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"><\/script>')
        }
    </script>
    {% elsif page.permalink == '/logistics/' %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry"></script>
        <script type="text/javascript">
            var autoDirectionEnabled = {% if site.logisticsMapAutoDirections %} true {% else %} false {% endif %};
        </script>
    {% endif %}
    <script>
        Waves.displayEffect();
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/schedule/' %}
        <script type="text/javascript">
            $(document).ready(function () {
                var navHeight = $('#top-header').height();
                var headerHeight = $('.track-header').first().height();
                $('.stick-header').stick_in_parent({sticky_class: 'sticky', offset_top: navHeight});
                $('.stick-label').stick_in_parent({offset_top: navHeight + headerHeight});
            });
        </script>
    {% endif %}

</body>

</html>
